{%extends "requests/base.html"%}
{%block content%}
    <br>
    <h2>Engagement Request Tool</h2>
    <br>
    <h6>Please use this application to view, add or update engagement requests.</h6> <br>
    <p>This tool is intended for the use of cloud solution architects to post open engagement opportunities that they come across that could be picked up by other cloud solution architects (e.g if the poster cannot commit the time to the engagement or if the technology/service needed does not fit into their area of focus). </p>
    <p>Engagement requests can be viewed without the need to log in, however to post/update a request, you must be logged in.</p>
    <p>Please ensure that you fill the post field 'category' with the most suitable attribute (e.g powerapps, devops etc.) so that it can be picked up quickly.<br>
         Additionally, please ensure that the content field details the key engagement details, such as expected start and end date, customer etc. Once picked up, please ensure you change the status of the request to CLOSED so that users are only focusing on active engagements.<p>
{%endblock content%}
